@media (max-width: 767px) {
	.header-1 {
		padding-top: 40%;
		font-size: 20px;
	}
	.header-2 {
		font-size: 10px;
		padding-bottom: 5px;
	}
	.header-3 {
		font-size: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) { 

}
@media (min-width: 1200px) { 

}