body {
	font-family: 'Open Sans', sans-serif;
	color: #EEE;
}

#home {
	background-color: #111111;
}
#about {
	background: url(../img/sather-tower.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#works {
	background-color: #111111;
}
#other {
	background-color: #222222;
}
#contact {
	background-color: #333333;
}
#clients {
	background-color: #444444;
}
#bio {
	background-color: #555555;
}

.title,
.home-title,
.hidden-title {
	font-size: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	margin:-60px 0 0 -100px;
}

.about-text {
	padding-top: 45%;
}

.hidden-title {
	font-size: 20px;
	width: 500px;
	margin-top: 30px;
	margin-left: -250px;
}

.info-section {
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	margin:-80px 0 0 -400px;
}

.photo-officer {
	margin-top: 200px;
	width: 100%;
}
.photo-bw {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.info-officer-wrapper {
	position: absolute;
	top: 80%;
	left: 50%;
	width: 400px;
	margin: -50px 0 0 -200px;
}

.info-officer-name {
	font-size: 20px;
}